QLineEdit {
  background-color: #FAFAFA;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-style: solid;
  border: 2px solid #189200;
  border-radius: 4px;
  color: #19232D;
}

QLineEdit:disabled {
  background-color: #189200;
  color: #788D9C;
}

QLineEdit:hover {
  border: 2px solid #189200;
  color: #19232D;
}

QLineEdit:focus {
  border: 2px solid #189200;
}

QLineEdit:selected {
  background-color: #189200;
  color: #C9CDD0;
}