* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-style: none;
  border-image: none;
  outline: 0;
}

QToolBar * {
  margin: 0px;
  padding: 0px;
}

QWidget {
  background-color: #FAFAFA;
  border: 0px solid #C9CDD0;
  padding: 0px;
  color: #19232D;
  selection-background-color: #9FCBFF;
  selection-color: #19232D;
}

QWidget:disabled {
  background-color: #FAFAFA;
  color: #788D9C;
  selection-background-color: #DAEDFF;
  selection-color: #788D9C;
}

QWidget::item:selected {
  background-color: #9FCBFF;
}

QWidget::item:hover:!selected {
  background-color: #73C7FF;
}

QMainWindow::separator {
  background-color: #C9CDD0;
  border: 0px solid #FAFAFA;
  spacing: 0px;
  padding: 2px;
}

QMainWindow::separator:hover {
  background-color: #ACB1B6;
  border: 0px solid #73C7FF;
}

QMainWindow::separator:horizontal {
  width: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

QMainWindow::separator:vertical {
  height: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

QToolTip {
  background-color: #9FCBFF;
  color: #19232D;
  border: none;
  padding: 0px;
}


QStatusBar {
  border: 1px solid #C9CDD0;
  background: #C9CDD0;
}

QStatusBar::item {
  border: none;
}

QStatusBar QToolTip {
  background-color: #73C7FF;
  border: 1px solid #FAFAFA;
  color: #FAFAFA;
  padding: 0px;
  opacity: 230;
}

QStatusBar QLabel {
  background: transparent;
}

QCheckBox {
  background-color: #FAFAFA;
  color: #19232D;
  spacing: 4px;
  outline: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

QCheckBox:focus {
  border: none;
}

QCheckBox QWidget:disabled {
  background-color: #FAFAFA;
  color: #788D9C;
}

QCheckBox::indicator {
  margin-left: 2px;
  height: 14px;
  width: 14px;
}

QCheckBox::indicator:unchecked:hover, QCheckBox::indicator:unchecked:focus, QCheckBox::indicator:unchecked:pressed {
  border: none;
}


QCheckBox::indicator:checked:hover, QCheckBox::indicator:checked:focus, QCheckBox::indicator:checked:pressed {
  border: none;
}

QGroupBox {
  font-weight: bold;
  border: 1px solid #C9CDD0;
  border-radius: 4px;
  padding: 2px;
  margin-top: 6px;
  margin-bottom: 4px;
}

QGroupBox::title {
  subcontrol-origin: margin;
  subcontrol-position: top left;
  left: 4px;
  padding-left: 2px;
  padding-right: 4px;
  padding-top: -4px;
}

QGroupBox::indicator {
  margin-left: 2px;
  margin-top: 2px;
  padding: 0;
  height: 14px;
  width: 14px;
}

QGroupBox::indicator:unchecked {
  border: none;
}

QGroupBox::indicator:unchecked:hover, QGroupBox::indicator:unchecked:focus, QGroupBox::indicator:unchecked:pressed {
  border: none;
}

QGroupBox::indicator:checked {
  border: none;
}

QGroupBox::indicator:checked:hover, QGroupBox::indicator:checked:focus, QGroupBox::indicator:checked:pressed {
  border: none;
}

QMenuBar {
  background-color: #C9CDD0;
  padding: 2px;
  border: 1px solid #FAFAFA;
  color: #19232D;
  selection-background-color: #73C7FF;
}

QMenuBar:focus {
  border: 1px solid #9FCBFF;
}

QMenuBar::item {
  background: transparent;
  padding: 4px;
}

QMenuBar::item:selected {
  padding: 4px;
  background: transparent;
  border: 0px solid #C9CDD0;
  background-color: #73C7FF;
}

QMenuBar::item:pressed {
  padding: 4px;
  border: 0px solid #C9CDD0;
  background-color: #73C7FF;
  color: #19232D;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

QMenu {
  border: 0px solid #C9CDD0;
  color: #19232D;
  margin: 0px;
  background-color: #CED1D4;
  selection-background-color: #73C7FF;
}

QMenu::separator {
  height: 1px;
  background-color: #ACB1B6;
  color: #19232D;
}

QMenu::item {
  background-color: #CED1D4;
  padding: 4px 24px 4px 28px;
  border: 1px transparent #C9CDD0;
}

QMenu::item:selected {
  color: #19232D;
  background-color: #73C7FF;
}

QMenu::item:pressed {
  background-color: #73C7FF;
}

QMenu::icon {
  padding-left: 10px;
  width: 14px;
  height: 14px;
}

QMenu::indicator {
  padding-left: 8px;
  width: 12px;
  height: 12px;
}


QMenu::indicator:non-exclusive:unchecked:hover, QMenu::indicator:non-exclusive:unchecked:focus, QMenu::indicator:non-exclusive:unchecked:pressed {
  border: none;
}


QMenu::indicator:non-exclusive:checked:hover, QMenu::indicator:non-exclusive:checked:focus, QMenu::indicator:non-exclusive:checked:pressed {
  border: none;
}


QMenu::indicator:exclusive:unchecked:hover, QMenu::indicator:exclusive:unchecked:focus, QMenu::indicator:exclusive:unchecked:pressed {
  border: none;
  outline: none;
}

QMenu::indicator:exclusive:checked {
  border: none;
  outline: none;
}

QMenu::indicator:exclusive:checked:hover, QMenu::indicator:exclusive:checked:focus, QMenu::indicator:exclusive:checked:pressed {
  border: none;
  outline: none;
}

QMenu::indicator:exclusive:checked:disabled {
  outline: none;
}

QMenu::right-arrow {
  margin: 5px;
  padding-left: 12px;
  height: 12px;
  width: 12px;
}

QAbstractItemView {
  alternate-background-color: #FAFAFA;
  color: #19232D;
  border: 1px solid #C9CDD0;
  border-radius: 4px;
}

QAbstractItemView QLineEdit {
  padding: 2px;
}


QAbstractScrollArea {
  background-color: #FAFAFA;
  border: 1px solid #C9CDD0;
  border-radius: 4px;
  padding: 2px;
  color: #19232D;
}

QAbstractScrollArea:disabled {
  color: #788D9C;
}

QScrollArea QWidget QWidget:disabled {
  background-color: #FAFAFA;
}

QScrollBar:horizontal {
  height: 16px;
  margin: 2px 16px 2px 16px;
  border: 1px solid #C9CDD0;
  border-radius: 4px;
  background-color: #FAFAFA;
}

QScrollBar:vertical {
  background-color: #FAFAFA;
  width: 16px;
  margin: 16px 2px 16px 2px;
  border: 1px solid #C9CDD0;
  border-radius: 4px;
}

QScrollBar::handle:horizontal {
  background-color: #ACB1B6;
  border: 1px solid #C9CDD0;
  border-radius: 4px;
  min-width: 8px;
}

QScrollBar::handle:horizontal:hover {
  background-color: #9FCBFF;
  border: #9FCBFF;
  border-radius: 4px;
  min-width: 8px;
}

QScrollBar::handle:horizontal:focus {
  border: 1px solid #73C7FF;
}

QScrollBar::handle:vertical {
  background-color: #ACB1B6;
  border: 1px solid #C9CDD0;
  min-height: 8px;
  border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
  background-color: #9FCBFF;
  border: #9FCBFF;
  border-radius: 4px;
  min-height: 8px;
}

QScrollBar::handle:vertical:focus {
  border: 1px solid #73C7FF;
}

QScrollBar::add-line:horizontal {
  margin: 0px 0px 0px 0px;
  height: 12px;
  width: 12px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover, QScrollBar::add-line:horizontal:on {
  height: 12px;
  width: 12px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
  margin: 3px 0px 3px 0px;
  height: 12px;
  width: 12px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on {
  height: 12px;
  width: 12px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
  margin: 0px 3px 0px 3px;
  height: 12px;
  width: 12px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on {
  height: 12px;
  width: 12px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
  margin: 3px 0px 3px 0px;
  height: 12px;
  width: 12px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover, QScrollBar::sub-line:vertical:on {
  height: 12px;
  width: 12px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
  background: none;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
  background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none;
}

QTextEdit {
  background-color: #FAFAFA;
  color: #19232D;
  border-radius: 4px;
  border: 1px solid #C9CDD0;
}

QTextEdit:focus {
  border: 1px solid #73C7FF;
}

QTextEdit:selected {
  background: #9FCBFF;
  color: #C9CDD0;
}

QPlainTextEdit {
  background-color: #FAFAFA;
  color: #19232D;
  border-radius: 4px;
  border: 1px solid #C9CDD0;
}

QPlainTextEdit:focus {
  border: 1px solid #73C7FF;
}

QPlainTextEdit:selected {
  background: #9FCBFF;
  color: #C9CDD0;
}

QSizeGrip {
  background: transparent;
  width: 12px;
  height: 12px;
}

QStackedWidget {
  padding: 2px;
  border: 1px solid #C9CDD0;
  border: 1px solid #FAFAFA;
}


QToolBar {
  background-color: #C9CDD0;
  border-bottom: 1px solid #FAFAFA;
  padding: 1px;
  font-weight: bold;
  spacing: 2px;
}

QToolBar:disabled {
  background-color: #C9CDD0;
}

QToolBar::handle:horizontal {
  width: 16px;
}

QToolBar::handle:vertical {
  height: 16px;
}

QToolBar::separator:horizontal {
  width: 16px;
}

QToolBar::separator:vertical {
  height: 16px;
}

QToolButton#qt_toolbar_ext_button {
  background: #C9CDD0;
  border: 0px;
  color: #19232D;
}

QAbstractSpinBox {
  background-color: #FAFAFA;
  border: 1px solid #C9CDD0;
  color: #19232D;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

QAbstractSpinBox:up-button {
  background-color: transparent #FAFAFA;
  subcontrol-origin: border;
  subcontrol-position: top right;
  border-left: 1px solid #C9CDD0;
  border-bottom: 1px solid #C9CDD0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 1px;
  width: 12px;
  margin-bottom: -1px;
}

QAbstractSpinBox::up-arrow, QAbstractSpinBox::up-arrow:disabled, QAbstractSpinBox::up-arrow:off {
  height: 8px;
  width: 8px;
}

QAbstractSpinBox:down-button {
  background-color: transparent #FAFAFA;
  subcontrol-origin: border;
  subcontrol-position: bottom right;
  border-left: 1px solid #C9CDD0;
  border-top: 1px solid #C9CDD0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 1px;
  width: 12px;
  margin-top: -1px;
}

QAbstractSpinBox::down-arrow, QAbstractSpinBox::down-arrow:disabled, QAbstractSpinBox::down-arrow:off {
  height: 8px;
  width: 8px;
}


QAbstractSpinBox:hover {
  border: 1px solid #9FCBFF;
  color: #19232D;
}

QAbstractSpinBox:focus {
  border: 1px solid #73C7FF;
}

QAbstractSpinBox:selected {
  background: #9FCBFF;
  color: #C9CDD0;
}

QLabel {
  background-color: #FAFAFA;
  border: 0px solid #C9CDD0;
  padding: 2px;
  margin: 0px;
  color: #19232D;
}

QLabel:disabled {
  background-color: #FAFAFA;
  border: 0px solid #C9CDD0;
  color: #788D9C;
}

QCalendarWidget {
  border: 1px solid #C9CDD0;
  border-radius: 4px;
}

QCalendarWidget:disabled {
  background-color: #FAFAFA;
  color: #788D9C;
}

QPushButton {
  background-color: #C9CDD0;
  color: #19232D;
  border-radius: 4px;
  padding: 2px;
  outline: none;
  border: none;
}

QPushButton:disabled {
  background-color: #DEDEDE;
  color: #788D9C;
  border-radius: 4px;
  padding: 2px;
}

QPushButton:checked {
  background-color: #ACB1B6;
  border-radius: 4px;
  padding: 2px;
  outline: none;
}

QPushButton:checked:disabled {
  background-color: #ACB1B6;
  color: #788D9C;
  border-radius: 4px;
  padding: 2px;
  outline: none;
}

QPushButton:checked:selected {
  background: #ACB1B6;
}

QPushButton:hover {
  background-color: #B9BDC1;
  color: #19232D;
}

QPushButton:pressed {
  background-color: #ACB1B6;
}

QPushButton:selected {
  background: #ACB1B6;
  color: #19232D;
}

QPushButton::menu-indicator {
  subcontrol-origin: padding;
  subcontrol-position: bottom right;
  bottom: 4px;
}
QComboBox {
  border: 1px solid #C9CDD0;
  border-radius: 4px;
  selection-background-color: #9FCBFF;
  padding-left: 4px;
  padding-right: 4px;
  min-height: 1.5em;
}

QComboBox QAbstractItemView {
  border: 1px solid #C9CDD0;
  border-radius: 0;
  background-color: #FAFAFA;
  selection-background-color: #9FCBFF;
}

QComboBox QAbstractItemView:hover {
  background-color: #FAFAFA;
  color: #19232D;
}

QComboBox QAbstractItemView:selected {
  background: #9FCBFF;
  color: #C9CDD0;
}

QComboBox QAbstractItemView:alternate {
  background: #FAFAFA;
}

QComboBox:disabled {
  background-color: #FAFAFA;
  color: #788D9C;
}

QComboBox:hover {
  border: 1px solid #9FCBFF;
}

QComboBox:focus {
  border: 1px solid #73C7FF;
}

QComboBox:on {
  selection-background-color: #9FCBFF;
}

QComboBox::indicator {
  border: none;
  border-radius: 0;
  background-color: transparent;
  selection-background-color: transparent;
  color: transparent;
  selection-color: transparent;
}

QComboBox::indicator:alternate {
  background: #FAFAFA;
}

QComboBox::item:alternate {
  background: #FAFAFA;
}

QComboBox::item:checked {
  font-weight: bold;
}

QComboBox::item:selected {
  border: 0px solid transparent;
}

QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 12px;
  border-left: 1px solid #C9CDD0;
}

QComboBox::down-arrow {
  height: 8px;
  width: 8px;
}

QSlider:disabled {
  background: #FAFAFA;
}

QSlider:focus {
  border: none;
}

QSlider::groove:horizontal {
  background: #C9CDD0;
  border: 1px solid #C9CDD0;
  height: 4px;
  margin: 0px;
  border-radius: 4px;
}

QSlider::groove:vertical {
  background: #C9CDD0;
  border: 1px solid #C9CDD0;
  width: 4px;
  margin: 0px;
  border-radius: 4px;
}

QSlider::add-page:vertical {
  background: #9FCBFF;
  border: 1px solid #C9CDD0;
  width: 4px;
  margin: 0px;
  border-radius: 4px;
}

QSlider::add-page:vertical :disabled {
  background: #DAEDFF;
}

QSlider::sub-page:horizontal {
  background: #9FCBFF;
  border: 1px solid #C9CDD0;
  height: 4px;
  margin: 0px;
  border-radius: 4px;
}

QSlider::sub-page:horizontal:disabled {
  background: #DAEDFF;
}

QSlider::handle:horizontal {
  background: #788D9C;
  border: 1px solid #C9CDD0;
  width: 8px;
  height: 8px;
  margin: -8px 0px;
  border-radius: 4px;
}

QSlider::handle:horizontal:hover {
  background: #9FCBFF;
  border: 1px solid #9FCBFF;
}

QSlider::handle:horizontal:focus {
  border: 1px solid #73C7FF;
}

QSlider::handle:vertical {
  background: #788D9C;
  border: 1px solid #C9CDD0;
  width: 8px;
  height: 8px;
  margin: 0 -8px;
  border-radius: 4px;
}

QSlider::handle:vertical:hover {
  background: #9FCBFF;
  border: 1px solid #9FCBFF;
}

QSlider::handle:vertical:focus {
  border: 1px solid #73C7FF;
}

QLineEdit {
  background-color: #FAFAFA;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-style: solid;
  border: 1px solid #C9CDD0;
  border-radius: 4px;
  color: #19232D;
}

QLineEdit:disabled {
  background-color: #FAFAFA;
  color: #788D9C;
}

QLineEdit:hover {
  border: 1px solid #9FCBFF;
  color: #19232D;
}

QLineEdit:focus {
  border: 1px solid #73C7FF;
}

QLineEdit:selected {
  background-color: #9FCBFF;
  color: #C9CDD0;
}

QTabWidget {
  padding: 2px;
  selection-background-color: #C9CDD0;
}

QTabWidget QWidget {
  border-radius: 4px;
}

QTabWidget::pane {
  border: 1px solid #C9CDD0;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
}

QTabWidget::pane:selected {
  background-color: #C9CDD0;
  border: 1px solid #9FCBFF;
}

QTabBar, QDockWidget QTabBar {
  qproperty-drawBase: 0;
  border-radius: 4px;
  margin: 0px;
  padding: 2px;
  border: 0;
}

QTabBar::close-button, QDockWidget QTabBar::close-button {
  border: 0;
  margin: 0;
  padding: 4px;
}

QTabBar::tab:top:selected:disabled, QDockWidget QTabBar::tab:top:selected:disabled {
  border-bottom: 3px solid #DAEDFF;
  color: #788D9C;
  background-color: #C9CDD0;
}

QTabBar::tab:bottom:selected:disabled, QDockWidget QTabBar::tab:bottom:selected:disabled {
  border-top: 3px solid #DAEDFF;
  color: #788D9C;
  background-color: #C9CDD0;
}

QTabBar::tab:left:selected:disabled, QDockWidget QTabBar::tab:left:selected:disabled {
  border-right: 3px solid #DAEDFF;
  color: #788D9C;
  background-color: #C9CDD0;
}

QTabBar::tab:right:selected:disabled, QDockWidget QTabBar::tab:right:selected:disabled {
  border-left: 3px solid #DAEDFF;
  color: #788D9C;
  background-color: #C9CDD0;
}

QTabBar::tab:top:!selected:disabled, QDockWidget QTabBar::tab:top:!selected:disabled {
  border-bottom: 3px solid #FAFAFA;
  color: #788D9C;
  background-color: #FAFAFA;
}

QTabBar::tab:bottom:!selected:disabled, QDockWidget QTabBar::tab:bottom:!selected:disabled {
  border-top: 3px solid #FAFAFA;
  color: #788D9C;
  background-color: #FAFAFA;
}

QTabBar::tab:left:!selected:disabled, QDockWidget QTabBar::tab:left:!selected:disabled {
  border-right: 3px solid #FAFAFA;
  color: #788D9C;
  background-color: #FAFAFA;
}

QTabBar::tab:right:!selected:disabled, QDockWidget QTabBar::tab:right:!selected:disabled {
  border-left: 3px solid #FAFAFA;
  color: #788D9C;
  background-color: #FAFAFA;
}

QTabBar::tab:top:!selected, QDockWidget QTabBar::tab:top:!selected {
  border-bottom: 2px solid #FAFAFA;
  margin-top: 2px;
}

QTabBar::tab:bottom:!selected, QDockWidget QTabBar::tab:bottom:!selected {
  border-top: 2px solid #FAFAFA;
  margin-bottom: 2px;
}

QTabBar::tab:left:!selected, QDockWidget QTabBar::tab:left:!selected {
  border-left: 2px solid #FAFAFA;
  margin-right: 2px;
}

QTabBar::tab:right:!selected, QDockWidget QTabBar::tab:right:!selected {
  border-right: 2px solid #FAFAFA;
  margin-left: 2px;
}

QTabBar::tab:top, QDockWidget QTabBar::tab:top {
  background-color: #C9CDD0;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 5px;
  border-bottom: 3px solid #C9CDD0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

QTabBar::tab:top:selected, QDockWidget QTabBar::tab:top:selected {
  background-color: #B9BDC1;
  border-bottom: 3px solid #37AEFE;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

QTabBar::tab:top:!selected:hover, QDockWidget QTabBar::tab:top:!selected:hover {
  border: 1px solid #73C7FF;
  border-bottom: 3px solid #73C7FF;
  padding-left: 3px;
  padding-right: 3px;
}

QTabBar::tab:bottom, QDockWidget QTabBar::tab:bottom {
  border-top: 3px solid #C9CDD0;
  background-color: #C9CDD0;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 5px;
}

QTabBar::tab:bottom:selected, QDockWidget QTabBar::tab:bottom:selected {
  background-color: #B9BDC1;
  border-top: 3px solid #37AEFE;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

QTabBar::tab:bottom:!selected:hover, QDockWidget QTabBar::tab:bottom:!selected:hover {
  border: 1px solid #73C7FF;
  border-top: 3px solid #73C7FF;
  padding-left: 3px;
  padding-right: 3px;
}

QTabBar::tab:left, QDockWidget QTabBar::tab:left {
  background-color: #C9CDD0;
  margin-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  min-height: 5px;
}

QTabBar::tab:left:selected, QDockWidget QTabBar::tab:left:selected {
  background-color: #B9BDC1;
  border-right: 3px solid #37AEFE;
}

QTabBar::tab:left:!selected:hover, QDockWidget QTabBar::tab:left:!selected:hover {
  border: 1px solid #73C7FF;
  border-right: 3px solid #73C7FF;
  margin-right: 0px;
  padding-right: -1px;
}

QTabBar::tab:right, QDockWidget QTabBar::tab:right {
  background-color: #C9CDD0;
  margin-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  min-height: 5px;
}

QTabBar::tab:right:selected, QDockWidget QTabBar::tab:right:selected {
  background-color: #B9BDC1;
  border-left: 3px solid #37AEFE;
}

QTabBar::tab:right:!selected:hover, QDockWidget QTabBar::tab:right:!selected:hover {
  border: 1px solid #73C7FF;
  border-left: 3px solid #73C7FF;
  margin-left: 0px;
  padding-left: 0px;
}

QTabBar QToolButton, QDockWidget QTabBar QToolButton {
  background-color: #C9CDD0;
  height: 12px;
  width: 12px;
}

QTabBar QToolButton:pressed, QDockWidget QTabBar QToolButton:pressed {
  background-color: #C9CDD0;
}

QTabBar QToolButton:pressed:hover, QDockWidget QTabBar QToolButton:pressed:hover {
  border: 1px solid #9FCBFF;
}

QTreeView:branch:has-children:!has-siblings:closed, QTreeView:branch:closed:has-children:has-siblings {
  border-image: none;
}

QTreeView:branch:open:has-children:!has-siblings, QTreeView:branch:open:has-children:has-siblings {
  border-image: none;
}

QTreeView,
QListView,
QTableView,
QColumnView {
  background-color: #FAFAFA;
  border: 1px solid #C9CDD0;
  color: #19232D;
  gridline-color: #C9CDD0;
  border-radius: 4px;
}

QTreeView:disabled,
QListView:disabled,
QTableView:disabled,
QColumnView:disabled {
  background-color: #FAFAFA;
  color: #788D9C;
}

QTreeView:selected,
QListView:selected,
QTableView:selected,
QColumnView:selected {
  background-color: #9FCBFF;
  color: #C9CDD0;
}

QTreeView:focus,
QListView:focus,
QTableView:focus,
QColumnView:focus {
  border: 1px solid #73C7FF;
}

QTreeView::item:pressed,
QListView::item:pressed,
QTableView::item:pressed,
QColumnView::item:pressed {
  background-color: #9FCBFF;
}

QTreeView::item:selected:active,
QListView::item:selected:active,
QTableView::item:selected:active,
QColumnView::item:selected:active {
  background-color: #9FCBFF;
}

QTreeView::item:selected:!active,
QListView::item:selected:!active,
QTableView::item:selected:!active,
QColumnView::item:selected:!active {
  color: #19232D;
  background-color: #CED1D4;
}

QTreeView::item:!selected:hover,
QListView::item:!selected:hover,
QTableView::item:!selected:hover,
QColumnView::item:!selected:hover {
  outline: 0;
  color: #19232D;
  background-color: #CED1D4;
}

QTableCornerButton::section {
  background-color: #FAFAFA;
  border: 1px transparent #C9CDD0;
  border-radius: 0px;
}

QHeaderView {
  background-color: #C9CDD0;
  border: 0px transparent #C9CDD0;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

QHeaderView:disabled {
  background-color: #C9CDD0;
  border: 1px transparent #C9CDD0;
}

QHeaderView::section {
  background-color: #C9CDD0;
  color: #19232D;
  border-radius: 0;
  text-align: left;
  font-size: 13px;
}

QHeaderView::section::horizontal {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  border-left: 1px solid #FAFAFA;
}

QHeaderView::section::horizontal::first, QHeaderView::section::horizontal::only-one {
  border-left: 1px solid #C9CDD0;
}

QHeaderView::section::horizontal:disabled {
  color: #788D9C;
}

QHeaderView::section::vertical {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  border-top: 1px solid #FAFAFA;
}

QHeaderView::section::vertical::first, QHeaderView::section::vertical::only-one {
  border-top: 1px solid #C9CDD0;
}

QHeaderView::section::vertical:disabled {
  color: #788D9C;
}

QHeaderView::down-arrow {
  background-color: #C9CDD0;
  border: none;
  height: 12px;
  width: 12px;
  padding-left: 2px;
  padding-right: 2px;
}

QHeaderView::up-arrow {
  background-color: #C9CDD0;
  border: none;
  height: 12px;
  width: 12px;
  padding-left: 2px;
  padding-right: 2px;
}

QSplitter {
  background-color: #C9CDD0;
  spacing: 0px;
  padding: 0px;
  margin: 0px;
}

QSplitter::handle {
  background-color: #C9CDD0;
  border: 0px solid #FAFAFA;
  spacing: 0px;
  padding: 1px;
  margin: 0px;
}

QSplitter::handle:hover {
  background-color: #788D9C;
}

QSplitter::handle:horizontal {
  width: 5px;
}

QSplitter::handle:vertical {
  height: 5px;
}

QDateEdit, QDateTimeEdit {
  selection-background-color: #9FCBFF;
  border-style: solid;
  border: 1px solid #C9CDD0;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 10px;
}

QDateEdit:on, QDateTimeEdit:on {
  selection-background-color: #9FCBFF;
}

QDateEdit::drop-down, QDateTimeEdit::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 12px;
  border-left: 1px solid #C9CDD0;
}

QDateEdit::down-arrow, QDateTimeEdit::down-arrow {
  height: 8px;
  width: 8px;
}

QDateEdit QAbstractItemView, QDateTimeEdit QAbstractItemView {
  background-color: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #C9CDD0;
  selection-background-color: #9FCBFF;
}

QAbstractView:hover {
  border: 1px solid #9FCBFF;
  color: #19232D;
}

QAbstractView:selected {
  background: #9FCBFF;
  color: #C9CDD0;
}
